body {
  background-color: #7796CB;
  padding-bottom: 50px;
}

.card {
  border: 1px solid #576490;
  background-color: #D1D2F9;
  height: 225px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 6px 12px #272D42, 0 6px 12px rgba(0,0,0,0.23);
}

.card:active {
  box-shadow: 0px 0px 0px 5px #576490; 
}

.cardImage {
  width: 160px;
  height: 220px;
  padding-top: 5px;
  pointer-events: none;
}